<!doctype html>
<html lang=en>
    <head>
        <meta charset=utf-8 />
        <title>PhD database</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
        <link rel="stylesheet" type="text/css" href="style.css" />
         <meta name="keywords" content="Lorène Picard, transparency, capitalism critic, art, new media, arts médiatiques, design, research, doctorat, PhD" />


   <!-- responsive pour écrans mobiles -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="/js/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="/js/jquery-3.7.0.min.js" type="text/javascript"></script>


    </head>

    <body>

        <header id=header>
            <main-title id="main-title"><p>Web et transparence. Conscience critique en art et design (1995-2019) — classification des œuvres</p></main-title>
        </header>


        <div id="about">
            <p>
Que disent les arts récents de la « dématérialisation numérique » ? Notre recherche s’intéresse à étudier, du point de vue des arts, les idéologies entourant le Web à travers ses représentations, son histoire et sa culture. 

Dans la tradition des sciences des réseaux, le Web est qualifié de système complexe. Inventé au CERN en 1989, il est un logiciel scientifique voué à l’accès et au partage des connaissances grâce à l’informatique distribuée. En analysant certaines spécificités du Web (soft et hard), nous rappelons l’esprit moderne et la matérialité de cette innovation. L’étude critique des cartes Internet et de l’histoire des interfaces graphiques permet de présenter des pratiques critiques en design graphique actuelles, ce métier étant confronté à des enjeux de soutenabilité numérique. Car depuis sa mise à disposition gratuitement sur Internet en 1993, le Web devient le nouveau Far West d’entrepreneurs de « la Tech », le management disruptif mettant à terre les valeurs de la communauté du libre accès, invisibilisant la valeur du travail de la matière. 

Face à ce détournement, les arts critiques renversent la prétendue dématérialisation. Travaillant avec les dimensions multiples de la notion de transparence, les artistes et les designers mettent en scène les infrastructures, les modes de production, les idéologies et les conséquences écologiques du Web, s’attaquant à l’aliénation propre à la modernité numérique. Cette recherche de sens en art et design s’effectue au risque de la critique matérialiste, qui accuse l’avant-garde d’être à l’extérieur de la praxis politique. 

Au regard de cette ambivalence, quels sont les combats de l’avant-garde actuelle ? En détournant le marketing des corporations du Web, elle souhaite se réapproprier la dimension poïétique de l’art, l’imagination étant, pour les artistes, le moyen universel d’accès au progrès social. Cette recherche artistique accompagne le développement de l’Internet des objets, qui transforme notre perception du temps et de l’espace. En valorisant l’imagination et le sensible comme rapports fondamentaux au monde, les artistes et les designers défendent leur participation au processus de « conscience historique ». Ils se distinguent du modernisme gestionnaire en spatialisant, en habitant, en déconstruisant, en incarnant le Web. 

L’analyse de la critique artistique du Web corporatiste restitue comment l’art traduit la crise sociale, morale et économique qui traverse l’ère de l’industrie numérique.
            </p>
        </div>


    
        <footer id="footer"><p>Lorène Picard, Thèse de doctorat de l'Université Jean Monnet, Unité de Recherche ECLLA / École Supérieure d'Art et de Design Saint-Étienne, Random(Lab), Unité de recherche numérique art et design Saint-Étienne/ENSBA Lyon</p></footer>
    

    </body>


</html>