<!doctype html>
<html lang=en>
    <head>
        <meta charset=utf-8 />
        <title>Corpus</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Miniature</th>
                    <th>Auteur</th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents -%}
                <tr>
                    <td>
                        <img src="{{ document.thumbnail | static_image('png') }}" />
                    </td>
                    <td>{{ document.author }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>