<!doctype html>
<html lang=en>
    <head>
        <meta charset=utf-8 />
        <title>Corpus</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Miniature</th>
                    <th>Date</th>
                    <th>Auteur</th>
                    <th>Profession</th>
                    <th>Pays</th>
                    <th>Titre</th>
                    <th>Source</th>
                    <th>Medium</th>
                    <th>Publication</th>
                    <th>Thème(s) critique(s) (idées primaires)</th>
                    <th>Paradigme esthétique (idées primaires)</th>
                    <th>Motifs esthétiques</th>
                    <th>Registre(s)</th>
                    <th>Interprétation</th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents -%}
                <tr>
                    <td>
                        <img src="{{ document.thumbnail | static_image('png') }}" />
                    </td>
                    <td>{{ document.date }}</td>
                    <td>{{ document.author }}</td>
                    <td>{{ document.job }}</td>
                    <td>{{ document.country }}</td>
                    <td>{{ document.title }}</td>
                    <td>{{ document.source }}</td>
                    <td>{{ document.medium }}</td>
                    <td>{{ document.publication }}</td>
                    <td>
                        <ul>
                            {% for critiziced_theme in document.critiziced_themes -%}
                            <li>{{ critiziced_theme }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for aesthetic_paradigm in document.aesthetic_paradigms -%}
                            <li>{{ aesthetic_paradigm }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for aesthetic_pattern in document.aesthetic_patterns -%}
                            <li>{{ aesthetic_pattern }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for register in document.registers -%}
                            <li>{{ register }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ document.intepretation }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>